$primary-bg-color:white;
$secondary-bg-color:#F2F0F1;
$elements-bg-color:#F0F0F0;
$banner-bg-color: black;
$main-text-color:black;
$secondary-text-color:white;

.dicount-background{
    background-color: $banner-bg-color;
}

.discount-main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    position: relative;

    p{
        
        text-align: center;
        margin: 0;

        color: $secondary-text-color;
        font-size: 14px;
        font-weight: 100;

        .discount-main-wrapper__sign{
            font-weight: normal;
            text-decoration: underline;
        }
    }

    .discount-main-wrapper__cross{
        position: absolute;
        right:0px;
        cursor: pointer;
    }
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0px 37px 0px;

    .header-main-logo-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .header-main-logo-wrapper__burger{
            display: none;
        }
    }

    .header-links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        a{
            font-size: 16px;
            color:$main-text-color;
            text-decoration: none;
        }

        .header-links__link-arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            img{
                transform: translateY(1px);
            }
        }

    }

    .header-search-bar{
        max-width: 577px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        input{
            width: 100%;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.4);
            background-color: $elements-bg-color;
            border: none;
            border-radius: 62px;
            padding: 14px 0px 14px 52px;
        }

        img{
            position: absolute;
            left: 17px;
        }
    }

    .header-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;

        .header-icons__mobile-search{
            display: none;
        }
    }
}

  
  @media screen and (max-width: 1200px) {
    .discount-main-wrapper{
        img{
            display: none;
        }
    }

    header{
        .header-main-logo-wrapper{
            .header-main-logo-wrapper__burger{
                display: block;
            }
        }

        .header-links{
            display: none;
        }

    }
  }

  @media screen and (max-width: 880px) {
    header{


        .header-search-bar{
            margin-right: 10px;
            margin-left: 10px;
        }


    }
  }

  @media screen and (max-width: 550px) {

    .discount-main-wrapper{
        img{
            display: none;
        }
    }

    header{
        .header-main-logo-wrapper{
            .header-main-logo-wrapper__burger{
                display: block;
            }
        }

        .header-links{
            display: none;
        }

        .header-search-bar{
            display: none;
        }

        .header-icons{
            .header-icons__mobile-search{
                display: block;
            }
        }
    }
}